<div class="educacion container">
  <!-- ---------EDUCACION ------------- -->
  <div class="row">
    <div class="col">
      <h2>Educación</h2>
    </div>
    

    <!-- ----------comienza ngFor ----------------------- -->
    <ul class="items-list">
      <li >
        <div class="educacion-item row">
          <div class="exp col">
            <div class="logo-exp col-lg-2 col-xl-2">
              <img class="img-fluid" src="" alt="" alt="" />
            </div>
            <div class="exp-detalles">
              <div  class="">
                <div  class="">
                  <h3>Argentina Programa - Fullstack Developer</h3>
                  <p>
                     Fullstack  -  Finalizado 
                  </p>
                  <h5>2022 - 2023</h5>
                </div>
                
              </div>
            </div>
          </div>

          <!-- --------modal eliminar------------ -->
        
        </div>
      </li>
    </ul>
  </div>
</div>