<div class="educacion container ">   <!-- ---------EDUCACION ------------- -->
    <div class="row">
        <div class="col"><h2>Educación</h2></div>
        <div class="col col-sm-1 col-md-1 col-lg-1 col-xl-1"><a href="#"><i class="fa-solid fa-plus"></i></a></div>
        <ul class="items-list">
            <li *ngFor="let educacion of educacionList" >
             <div class="educacion-item row">
                <div class="exp col">
                 <div class="logo-exp col-lg-2 col-xl-2">
                    <img class="img-fluid" [src]="educacion.img" alt="">
                 </div>
                 <div class="exp-detalles">
                    <h3>{{educacion.school}}</h3>
                    <p>{{educacion.carrer}}</p>
                    <h5><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></h5>
                 </div>
                </div>
                <div class="editar-exp col col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="#"><i class="fa-solid fa-trash"></i></a>
                </div>
             </div>  
          </li>
        </ul>
    </div>
</div>