<div class="proyectos container">
  <!-- --------PROYECTOS----------- -->
  <div class="proyectos-row row">
    <div class="title col">
      <div class="titulo">
        <h3>Proyectos</h3>
      </div>
    </div>

    <ul class="items-list">
      <div class="proyectos-contenido col">
        <div class="proyectos-contenido-row row">
          <div class="proyectos-item col">
            <h3>Proyecto Ninja</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
              voluptate alias assumenda similique ipsa porro saepe
              exercitationem maxime, repellendus consectetur nulla adipisci
              aspernatur minima perferendis, cumque, sequi quos dolor fugit!
            </p>
            <p>Url: <a href="www.google.com">Proyecto X</a></p>
          </div>
        </div>
      </div>
    </ul>


    
    <ul class="items-list">
      <div class="proyectos-contenido col">
        <div class="proyectos-contenido-row row">
          <div class="proyectos-item col">
            <h3>Proyecto Ninja</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde
              voluptate alias assumenda similique ipsa porro saepe
              exercitationem maxime, repellendus consectetur nulla adipisci
              aspernatur minima perferendis, cumque, sequi quos dolor fugit!
            </p>
            <p>Url: <a href="www.google.com">Proyecto X</a></p>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
