<div class="container-fluid row barra">
  <!-- ------BARRA---------- -->
  
  <div class="col" id="iconos">
    <a href="https://github.com/RamonCruz187" target="_blank"
      ><i class="fa-brands fa-github fa-xl"></i></a
    ><a href="https://www.linkedin.com/in/ramon-cruz187/" target="_blank"
      ><i class="fa-brands fa-linkedin fa-xl"></i
    ></a>
  </div>
</div>
<header class="container">
  <!-- --------ENCABEZADO --------- -->
  <div id="header" class="row">
    <img src="../../../assets/imagenes/backimage.jpg" alt="" />
  </div>
  <div class="row datos">
    <div class="col datos1 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <!-- ------IMAGEN DE PERFIL------------ -->
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 py-3" id="img-contenedor">
        <img
          src="../../../assets/imagenes/foto.jpg"
          class="img-fluid"
          id="foto"
          alt="logo"
        />
      </div>
      <!-- ------INFORMACION PERSONAL------ -->
      <div>
        <h2>
          <strong>Ramón Cruz</strong>
        </h2>
      </div>
      <div class="row">
        <h5 class="col">Backend Developer</h5>
      </div>
      <div class="row">
        <p class="col">
          Chubut - Argentina
          <a
            href=""
            class="primary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdropInfo"
          >
            Inf. de contacto</a
          >
        </p>

        <!-- Modal Info de Contacto-->
        <div
          class="modal fade"
          id="staticBackdropInfo"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                  Contacto
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <h5><strong>Cel:</strong> +54-2964458920</h5>
                <h5><strong>Mail:</strong> ramon.cruz187@gmail.com</h5>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--Termina Modal Info de Contacto-->

      </div>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modalCV"
      >
        CV
      </button>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#modalDOC"
      >
        Título
      </button>
    </div>
    
    <div id="sfcb2adwm6zsmlgwebmtn15t8d7axdxf49g">
      <a
        href="https://www.contadorvisitasgratis.com"
        title="contador de visitas para web"
        ><img
          src="https://counter7.optistats.ovh/private/contadorvisitasgratis.php?c=b2adwm6zsmlgwebmtn15t8d7axdxf49g"
          border="0"
          title="contador de visitas para web"
          alt="contador de visitas para web"
      /></a>
    </div>
    <script
      type="text/javascript"
      src="https://counter7.optistats.ovh/private/counter.js?c=b2adwm6zsmlgwebmtn15t8d7axdxf49g&down=async"
      async
    ></script>
    <noscript
      ><a
        href="https://www.contadorvisitasgratis.com"
        title="contador de visitas para web"
        ><img
          src="https://counter7.optistats.ovh/private/contadorvisitasgratis.php?c=b2adwm6zsmlgwebmtn15t8d7axdxf49g"
          border="0"
          title="contador de visitas para web"
          alt="contador de visitas para web" /></a
    ></noscript>

    <!-- Modal cv-->
    <div
      class="modal fade"
      id="modalCV"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">CV</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <embed
              src="../assets/data/CV.pdf"
              width="100%"
              height="100%"
              type=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal documentos-->
    <div
      class="modal fade"
      id="modalDOC"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Documentos
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <embed
              src="../assets/data/CERT.pdf"
              width="100%"
              height="100%"
              type=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ----------------modal------------------------------ -->
    
    <!-- ----------------fin modal------------------------------ -->
  </div>
</header>
