<div class="experiencia container "> <!-- --------EXPERIENCIA ---------- -->
  <div class="row">
    <div class="col">
      <h2>Experiencia</h2>
    </div>
    
    <ul class="items-list">
      <!-- -------------------------------- -->
        <div class="experiencia-item row">
          <div class="exp col col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
            <div class="logo-exp col-lg-2 col-xl-2">
              <img class="img-fluid" src="" alt="">
            </div>
            <div class="exp-detalles">
                <div >
                  <h3>Backend Developer - Remoto</h3>
                  <p>No-Country - Part-Time</p>
                  <h5>2000 - 2001</h5>
                </div>
            </div>
          </div>
        </div>
        <!-- -------------------------------- -->
        <div class="experiencia-item row">
          <div class="exp col col-xs-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">
            <div class="logo-exp col-lg-2 col-xl-2">
              <img class="img-fluid" src="" alt="">
            </div>
            <div class="exp-detalles">
                <div >
                  <h3>Backend Developer - Remoto</h3>
                  <p>No-Country - Part-Time</p>
                  <h5>2000 - 2001</h5>
                </div>
            </div>
          </div>
        </div>
        <!-- -------------------------------- -->

    </ul>
  </div>
</div>