<div class="experiencia container ">    <!-- --------EXPERIENCIA ---------- -->
  <div class="row">
      <div class="col" ><h2>Experiencia</h2></div>
      <div class="col col-sm-1 col-md-1 col-lg-1 col-xl-1"><a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-plus"></i></a></div>        
    <ul class="items-list">

                 <!----------- modal Agregar Experiencia----------------- -->           
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Experiencia</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="formLogin"   >
                          
                    Empresa: <input type="text" id="company"   formControlName="company" ><br>
                    Puesto <input type="text" id="position" formControlName="position" ><br>
                    Comienzo: <input type="date" id="start" formControlName="start" ><br>
                    Fin: <input type="date" id="end"   formControlName="end" ><br>
                    URL Imagen: <input type="text" id="img"   formControlName="img" ><br>
                    Ciudad: <input type="text" id="city" formControlName="city" ><br>
                    Tipo de Empleo: <select name="" id="tipoEmpleo"   formControlName="tipoEmpleo">
                                        <option value="Empleado">Empleado</option>
                                        <option value="Monotributista">Monotributista</option>
                                        <option value="Freelance">Freelance</option>
                                        <option value="Emprendimiento">Emprendimiento</option>
                                        <option value="Otro">Otro</option>
                                     </select> <br>
                    Tipo de Jornada: <select name="" id="tipoJornada" formControlName="tipoJornada">
                                        <option value="Part Time">Part Time</option>
                                        <option value="Full Time">Full time</option>
                                      </select> <br>
                  
                  </form>
               </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="enviarExp()">Enviar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>          
               </div>
              </div>
            </div>
          </div>
                  <!---------Fin modal Agregar Experiencia----------------- -->

            <!-- ----------comienza ngFor ----------------------- -->
      <li *ngFor="let experiencia of experienciaList" >
          <div   class="experiencia-item row">   
              <div  class="exp col">
                   <div class="logo-exp col-lg-2 col-xl-2">
                    <img class="img-fluid" src="../assets/imagenes/Freelancer.png" alt="">
                   </div >
                    <div class="exp-detalles" >
                      <div id={{experiencia.id}} class="" >
                        <div  *ngIf="experiencia.id +1000 !=inputId+1000"   class="">
                          <h3>{{experiencia.position}} - {{experiencia.tipoEmpleo}}</h3>
                          <p>{{experiencia.company}} - {{experiencia.tipoJornada}}</p>
                          <h5>{{experiencia.start}} - {{experiencia.end}}</h5>
                          <h5>{{experiencia.city}}</h5>  
                        </div>
                        <div *ngIf="experiencia.id +1000 ==inputId+1000" class="">
                          <form [formGroup]="formLogin"  (submit)="editarExp(experiencia.id)" >
                          
                            Empresa: <input type="text" id="company"   formControlName="company" placeholder={{experiencia.company}} ><br>
                            Puesto <input type="text" id="position" formControlName="position" placeholder={{experiencia.position}}><br>
                            Comienzo: <input type="date" id="start" formControlName="start" placeholder={{experiencia.start}}><br>
                            Fin: <input type="date" id="end"   formControlName="end" placeholder={{experiencia.end}}><br>
                            URL Imagen: <input type="text" id="img"   formControlName="img" placeholder={{experiencia.img}}><br>
                            Ciudad: <input type="text" id="city" formControlName="city" placeholder={{experiencia.city}}><br>
                            Tipo de Empleo: <select name="" id="tipoEmpleo"   formControlName="tipoEmpleo" >
                              <option value="Empleado">Empleado</option>
                              <option value="Monotributista">Monotributista</option>
                              <option value="Freelance">Freelance</option>
                              <option value="Emprendimiento">Emprendimiento</option>
                              <option value="Otro">Otro</option>
                           </select> <br>
                            Tipo de Jornada: <select name="" id="tipoJornada" formControlName="tipoJornada">
                              <option value="Part Time">Part Time</option>
                              <option value="Full Time">Full time</option>
                            </select> <br>
                          
                            <div>                           
                              <button  type="button" class="btn btn-success" (click)="editarExp(experiencia.id)" >Enviar</button>                          
                              <button  type="button" class="btn btn-primary" (click)="cancelar(experiencia.id)">cancelar</button>
                            </div>
                          </form>
                        </div>
                      </div>         
                   </div>                 
              </div>
              <div class="editar-exp col col-sm-1 col-md-1 col-lg-1 col-xl-1">
                <a type="button" (click)="ponerid(experiencia.id); mostrar(experiencia.id)" ><i class="fa-solid fa-pen-to-square"></i></a>
                <a type="button" (click)="borrarExp(experiencia.id)" data-bs-target="#modalBorrar" data-bs-toggle="modal" ><i class="fa-solid fa-trash"></i></a>
              </div>
                            <!-- --------modal eliminar------------ -->                        
              <div class="modal fade" id="modalBorrar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                             <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmación</h1>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="recargar()"></button>
                          </div>
                          <div class="modal-body">
                            Elemento eliminado con éxito
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="recargar()">Cerrar</button>                         
                          </div>
                      </div>
                  </div>
              </div>        
          </div>
      </li>
                         <!-- -------------------termina ngFor-------------------- -->
    </ul>
  </div>
</div>
