<div class="skills container">
  <!-- ------------SKILSS --------------- -->
  <div class="skills-row">
    <div class="title col">
      <div class="titulo">
        <h3>Hard Skills & Soft Skills</h3>
      </div>
    </div>
    <div class="content col">
      <ul class="items-list">
        <div class="skill col">
          <h3>Java</h3>
          <div class="skill-barra">
            <span>
              <h4>70%</h4>
            </span>
            <label for="file"></label>
            <progress id="file" max="100" value="70">70%</progress>
            <div class="edit col col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
